*{
   margin:0;
   padding:0; 
   box-sizing:border-box;
 }

html,
body{
   background-color: #fff; 
   color:#555; 
   font-family:'Lato','Arial','sans-serif'; 
   font-size:20px;
   font-weight: 300; 
   text-rendering: optimizeLegibility; 
   line-height:1.25; 
   overflow-x: hidden; 
}



/*-------------  NAV  -----------------*/



.nav li a{
		text-decoration:none;
}
.nav li,.right-nav li{
		display:inline-block;
   	margin-left:40px;
}

#left-nav{
	width:60%;

}

.logo{
	padding:15px;
	text-align:center;
}

.right-nav{
	width:40%;
	position:relative;
	left:400px;
}
.right-nav li:last-child{
	padding-left:10px;
	left:10%;
	position:relative;
	float:right;
}

#item{
   text-transform:uppercase; 
	color:rgba(33,33,33,.7);
}
#nav{
	
}	
nav{
	list-style:none;
}

.cart i{
	font-size:26px;
}





/*----------------  Main content --------------*/
#main{
	color:rgba(33,33,33,.7)
}

#main h3{
		color:black;
}


h1,h2,h3, .nav li a{
   font-weight:700;
	color:black;
   text-transform:uppercase; 
}

#left-side{
	height:100%;
	width:37%;
	
	float:left;
	padding:30px 0px;
	margin-left:3%;
}

#img-small img{
	width:200px;
	padding:5px;
}

#right-side{
	height:100%;
	width:60%;
	
	float:left;
	padding:30px 70px;
}

.first-ul{
	padding:0 40px 60px;;
}

.second-ul, .third-ul{
	list-style:none;
	line-height:2.5;
}

.big{
	font-weight:500;
	font-size:15px;
	color:black;
   text-transform:uppercase; 
}
h6{
	font-style:bold;
	line-height:3;
	padding-bottom:10px;
}
#img-big{
	width:100%;
	margin-bottom:20px;
	text-align:center;
}

#img-small{
	width:100%;
	height:280px;
	
}

.button{
	width:100%;
	height:60px;
	color:white;
	background-color:rgba(44,54,44,.6);
	margin-bottom:40px;
}
.category{
	color:black;
	font-weight:600;
	font-size:15px;
	margin-bottom:60px;
}

.fa-search-plus{
	position:relative;
	left:15%;
	top:15px;
	font-size:35px;
	
}

.active{
	background-color:rgba(222,222,222,.3);
}

.table tr td:first-child{
	color:black;
}

.table tr:last-child td:last-child{
	color:rgba(33,33,33,.7);
;
}

#related h4{
	text-align:center;
}

.small{
	text-transform:lowercase;
}

#related img{
	width:30%;
	margin:2%
}
#related p{
	color:rgba(33,33,33,.7);
	width:30%;
	text-align:center;
}



/* -------- Footer  ---------- */

.footer{
	height:250px;
	background-color:black;
	color:rgba(222,222,222,.5)
}


.footer div{
	padding:50px;
}
.footer li{
	padding-right:15px;
	display:inline-block;
}

.footer p{
	color:white;
}
